/* Color Scheme:
black (very dark blue): 1F2421
teal: 216869
seagreen: 49A078
soft green: 9CC5A1
sky blue: 9AD1D4
gray: 5D737E
white: DCE1DE
*/


body {
background-color: #1F2421; /* black */
}

h1 {
font-family: 'Lato', sans-serif;
font-size:28;
text-align: center;
font-weight:200;
color: #49A078; /* seagreen */
}

h2 {
font-family: 'Lato', sans-serif;
font-size:28;
text-align: center;
font-weight:200;
color: #5D737E; /* gray */
font-style:italic;
}

p {
font-family: 'Montserrat', sans-serif;
font-size:12;
font-weight:750;
text-align:center;
color:#DCE1DE; /* white */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1F2421; /* black */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #DCE1DE; /* text color is white */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font:'Lato', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #49A078; /* seagreen background */
  color: white; /* white text /*
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9CC5A1; /* soft green */
  color: #DCE1DE; /* white */
}

