/* Color Scheme:
black (very dark blue): 1F2421
teal: 216869
seagreen: 49A078
soft green: 9CC5A1
sky blue: 9AD1D4
gray: 5D737E
white: DCE1DE
*/


body {
background-color: #1F2421; /* black */
}

h1 {
font-family: 'Lato', sans-serif;
font-size:28;
text-align: center;
font-weight:200;
color: #49A078; /* seagreen */
}

h2 {
font-family: 'Lato', sans-serif;
font-size:28;
text-align: center;
font-weight:200;
color: #5D737E; /* gray */
font-style:italic;
}

p {
font-family: 'Montserrat', sans-serif;
font-size:12;
font-weight:750;
text-align:center;
color:#DCE1DE; /* white */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1F2421; /* black */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #DCE1DE; /* text color is white */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font:'Lato', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #49A078; /* seagreen background */
  color: white; /* white text /*
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9CC5A1; /* soft green */
  color: #DCE1DE; /* white */
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size:16px;
	border:none;
	outline:none;
	color:white;
	padding:14px 16px;
	background-color:inherit;
	font-family:inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1F2421;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
	
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #5D737E;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
